* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-wrapper {
    height: 120px;
    background-color: #191E2B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.header-title {
    color: white;
}

.button-header {
    height: 35px;
    width: 115px;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 17px;
    transition: background-color 0.3s;
}

.button-header:hover {
    cursor: pointer;
    background-color: #4e5565;
    height: 35px;
    border-radius: 3px;
}

i {
    margin: 3px;
}

main {
    background-color: #30343F;
    display: flex;
    height: 735px;
    flex-direction: column;
    align-items: center;
} 

.meme-container {
    width: 100%;
    max-width: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.text-meme {
    height: 62px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 50px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.meme-container-img {
    height: 386px;
    width: 100%;
}

.button-download {
    background-color: #27762d;
    transition: background-color 0.5s;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 8px;
    margin-top: 35px;
    margin-bottom: 50px;
    width: 150px;
    height: 40px;
}

.button-download:hover {
    cursor: pointer;
    background-color: #1B5E20;
}

.button-panel-close {
    display: none;
    justify-content: flex-end;
    margin-right: 7px;
    margin-top: 5px;
}

.close-panel:hover {
    cursor: pointer;
}

.panel-img {
    display: none;
}

.aside-container {
    width: 240px;
    position: absolute;
    background-color: #252935;
    top: 0;
    right: 0;
    z-index: 1;
}

.panel-title {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.panel-container {
    margin-bottom: 20px;
}

.panel-caption {
    color: white;
    margin-bottom: 8px;
    width: 90%;
    margin-left: 7px;
    font-size: 18px;
    font-weight: bold;
}

.panel-input {
    width: 90%;
    height: 35px;
    background-color: #393e49;
    margin-left: 7px;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.panel-input:hover {
    cursor: pointer;
    background-color: #4e5565;
}

.panel-color-container {
    display: flex;
}

.panel-color {
    position: relative;
    display: flex;
}

span {
    position: absolute;
    color: white;
}

.panel-aside {
    width: 45%;
}

.panel-select {
    background-color: #393e49;
    color: white;
    font-size: 16px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    transition: background-color 0.3s;
}

.panel-select:hover {
    cursor: pointer;
    background-color: #4e5565;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: white;
    margin-left: 7px;
    margin-bottom: 10px;
}

input[type='range'] {
    width: 95%;
    background-color: #5a5d68;
    appearance: none;
    height: 7px;
    border-radius: 8px;
    margin-top: 8px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 17px; 
    background: #ffffff; 
    border-radius: 50%; 
    cursor: pointer; 
}

.button-filter {
    background-color: #4e5565;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 35px;
    width: 140px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-filter:hover {
    cursor: pointer;
    background-color: #5f626a;
}

.panel-text {
    display: none;
}

.panel-checkbox {
    display: flex;
}

input[type='checkbox'] {
    margin-left: 10px;
}

.label-checkbox {
    margin-top: 8px;
}

.font-select {
    margin-left: 7px;
    width: 90%;
}

.panel-text-flex {
    display: flex;
}

.text-size {
    width: 50%;
    margin-top: 7px;
    margin-right: 2px;
}

.buttons-alignment {
    flex: 1;
    margin-top: 7px;
}

.button-align {
    background-color: #393e49;
    border: 0;
    color: white;
    width: 27px;
    margin-left: 2px;
    height: 35px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.button-align:hover {
    cursor: pointer;
    background-color: #4e5565;
}

.panel-color-background {
    width: 48%;
}

.panel-color-flex {
    display: flex;
}

.button-cont {
    background-color: #393e49;
    border: 0;
    margin-left: 7px;
    font-size: 16px;
    color: white;
    width: 68px;
    height: 35px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.button-cont:hover {
    cursor: pointer;
    background-color: #4e5565;
}



