body.dark-theme {
    --color-header: #191e2b;
    --color-background: #30343F;
    --color-panel: #252935;
    --color-input: #5a5d68;
    --color-boton: #393e49;
    --color-boton-hover: #4e5565;
    --color-boton-hover-2: #5f626a;
    --color-text: #ffffff;
}

body.light-theme {
    --color-header: #e0e0e0;
    --color-background: #eeeeee;
    --color-panel: #fafafa;
    --color-boton: #e0e0e0;
    --color-boton-hover: #bdbdbd;
    --color-text: #424242;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-wrapper {
    height: 120px;
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.header-title {
    color: var(--color-text)
}

.button-header {
    height: 35px;
    width: 125px;
    background-color: transparent;
    border: 0;
    color: var(--color-text);
    font-size: 17px;
    transition: background-color 0.3s;
}

.button-header:hover {
    cursor: pointer;
    background-color: var(--color-boton-hover);
    height: 35px;
    border-radius: 3px;
}

i {
    margin: 3px;
}

main {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
} 

.meme-container {
    width: 650px;
    max-width: 650px;
    height: 750px; 
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    overflow: hidden;
}

.text-meme {
    width: 100%;
    background: white;
    color: black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 35px;
    margin: 0;
    box-sizing: border-box;
}

.meme-container-img {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden; 
}

#img-meme {
    flex-grow: 1;
    background-size: cover;
    object-fit: contain;
    display: none;
}

.button-download {
    background-color: #27762d;
    transition: background-color 0.5s;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 8px;
    margin-top: 60px; 
    width: 150px;
    height: 40px;
}

.button-download:hover {
    cursor: pointer;
    background-color: #1B5E20;
}

.close-panel {
    display: none;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 7px;
}

.close-panel:hover {
    cursor: pointer;
}

.panel-img {
    display: none;
} 

.aside-container {
    width: 240px;
    position: absolute;
    background-color: var(--color-panel);
    top: 0;
    right: 0;
    z-index: 1;
}

.panel-title {
    color: var(--color-text);
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.panel-container {
    margin-bottom: 20px;
}

.panel-caption {
    color: var(--color-text);
    margin-bottom: 8px;
    width: 90%;
    margin-left: 7px;
    font-size: 18px;
    font-weight: bold;
}

.panel-input {
    width: 90%;
    height: 35px;
    background-color: var(--color-boton);
    margin-left: 7px;
    border: 0;
    border-radius: 3px;
    color: var(--color-text);
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.panel-input:hover {
    cursor: pointer;
    background-color: var(--color-boton-hover);
}

.panel-color {
    display: flex;
    width: 100%;
}

#panel-color-input {
    width: 40px;
}

.panel-select {
    background-color: var(--color-boton);
    color: var(--color-text);
    font-size: 16px;
    width: 95%;
    height: 35px;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    transition: background-color 0.3s;
}

.panel-select:hover {
    cursor: pointer;
    background-color: var(--color-boton-hover);
}

label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: var(--color-text);
    margin-left: 7px;
    margin-bottom: 10px;
}

input[type='range'] {
    width: 95%;
    background-color: #5a5d68;
    appearance: none;
    height: 7px;
    border-radius: 8px;
    margin-top: 8px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 17px; 
    background: var(--color-text); 
    border-radius: 50%; 
    cursor: pointer; 
}

.button-filter {
    background-color: var(--color-boton-hover);
    color: var(--color-text);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    height: 35px;
    width: 140px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-filter:hover {
    cursor: pointer;
    background-color: var(--color-boton-hover-2);
}

.panel-text {
    display: none;
} 

.panel-checkbox {
    display: flex;
}

input[type='checkbox'] {
    margin-left: 10px;
}

.label-checkbox {
    margin-top: 8px;
}

.font-select {
    margin-left: 7px;
    width: 90%;
}

.panel-text-flex {
    display: flex;
    width: 100%;
}

.text-size {
    width: 50%;
    margin-top: 7px;
    margin-right: 2px;
}

.buttons-alignment {
    flex: 1;
    margin-top: 7px;
}

.button-align {
    background-color: var(--color-boton);
    border: 0;
    color: var(--color-text);
    width: 27px;
    margin-left: 2px;
    height: 35px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.button-align:hover {
    cursor: pointer;
    background-color: var(--color-boton-hover);
}

.panel-color-background {
    width: 48%;
}

.panel-color-flex-fondo-img {
    display: flex;
    width: 42%;
    height: 35px;
    background-color: var(--color-boton);
    margin-left: 7px;
    border: 0;
    border-radius: 3px;
    margin-right: 7px;
    color: var(--color-text);
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.panel-color-flex-fondo-img:hover {
    background-color: var(--color-boton-hover);
}

.panel-color-flex-fondo-text {
    display: flex;
    width: 88%;
    height: 35px;
    background-color: var(--color-boton);
    margin-left: 7px;
    border: 0;
    border-radius: 3px;
    margin-right: 7px;
    color: var(--color-text);
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

input[type="color"] {
    border: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    margin-top: 2px;
}

input[type="color"]:hover {
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

span {
    margin-left: 4px;
}

.panel-color-flex-fondo-text:hover {
    background-color: var(--color-boton-hover);
}

.button-cont {
    background-color: var(--color-boton);
    border: 0;
    margin-left: 7px;
    font-size: 16px;
    color: var(--color-text);
    width: 66px;
    height: 35px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.button-cont:hover {
    cursor: pointer;
    background-color: var(--color-boton-hover);
}

.light {
    display: none;
}

/* RESPONSIVE */

/* TABLET */
@media (max-width: 777px) and (min-width: 620px){
    .aside-container {
        width: 100%;
    }

    main {
        padding: 30px;
    }
}

/* MOBILE */
@media (min-width: 319px) and (max-width: 621px) {
    .meme-container {
        width: 95vw;
        height: 80vh;
    }

    .text-meme {
    padding: 15px;
    }

    .header-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-header {
        width: 80px;
    }

    #button-dark-color {
        width: 120px;
    }

    #button-light-color {
        width: 120px;
    }

    .aside-container {
        width: 100%;
    }
}